<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257763039036-dac62891at4najts7636paugqdmvqc1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257763039036-dac62891at4najts7636paugqdmvqc1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257763039036-17vdp8020rih1dmbgjt66qskqfddn9u5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbegnBMZxR7XLnzR_A0iM1C4JxTrzCedo</string>
	<key>GCM_SENDER_ID</key>
	<string>257763039036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solidsocial.app.dev</string>
	<key>PROJECT_ID</key>
	<string>solid-social-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>solid-social-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257763039036:ios:46416bc44d92658eb73039</string>
</dict>
</plist>